TH_B3/Bai_2/order_list.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

  <xs:element name="orders">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="order" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
    
    <xs:unique name="UniqueOrderId">
      <xs:selector xpath="order"/>
      <xs:field xpath="@id"/>
    </xs:unique>
  </xs:element>

  <xs:element name="order">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="product" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="id" type="xs:string" use="required"/>
    </xs:complexType>
    
    <xs:unique name="UniqueProductIdInOrder">
      <xs:selector xpath="product"/>
      <xs:field xpath="@id"/>
    </xs:unique>
  </xs:element>

  <xs:element name="product">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="name" type="xs:string"/>
        <xs:element name="quantity" type="xs:integer"/>
      </xs:sequence>
      <xs:attribute name="id" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>

</xs:schema>