TH_B3/Bai_2/student_IDREF.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

  <xs:element name="school">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="student" maxOccurs="unbounded"/>
        <xs:element ref="enrollment" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="student">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="name" type="xs:string"/>
        <xs:element name="date" type="xs:date"/> 
      </xs:sequence>
      <xs:attribute name="id" type="xs:ID" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="enrollment">
    <xs:complexType>
      <xs:attribute name="course" type="xs:string" use="required"/>
      <xs:attribute name="studentRef" type="xs:IDREF" use="required"/>
    </xs:complexType>
  </xs:element>

</xs:schema>