TH_B3/Bai_2/student_unique.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

  <xs:element name="school">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="student" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
    
    <xs:unique name="uniqueStudentId">
      <xs:selector xpath="student"/>
      <xs:field xpath="id"/>
    </xs:unique>
  </xs:element>

  <xs:element name="student">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="id" type="xs:string"/> 
        <xs:element name="name" type="xs:string"/>
        <xs:element name="date" type="xs:date"/> 
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>